body{
    background: #181818;
  }
  .container{
      width: 400px;
      display: flex;
      flex-direction: column;
      margin: auto;
  }
  input,button{
      height: 65px;
      font-size: 1.2rem;
      padding:0 20px;
      border-radius: 5px;
  
  }
  
  input{
    background: #2e2e2e;
    border: 1;
    margin-bottom: 4;
  }

  button{
    background: #cc0000;
    border: 1 px solid #4d4d4d;
    margin: 20px 0;
  }
  
  a{
    font-family: roboto, sans-serif;
    margin: 20px auto;
    color: #AAA;
  }